<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417029207436-7s1kbonc3n7jqd25jokfe4j01299ld0j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417029207436-7s1kbonc3n7jqd25jokfe4j01299ld0j</string>
	<key>API_KEY</key>
	<string>AIzaSyD7dGO_fhav4dejpQDZ1NmYt0aD8SxRbdc</string>
	<key>GCM_SENDER_ID</key>
	<string>417029207436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.michaelsc.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-44459</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-44459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417029207436:ios:3edb8a01dcf22fb594d2a9</string>
</dict>
</plist>